<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IpgwCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IpgwCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <userSettings>
        <IpgwCore.Properties.Settings>
            <setting name="WeekNowSet" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="MainOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Package" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>未设置</value>
            </setting>
            <setting name="ExitArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExitAsk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AreaFontSize" serializeAs="String">
                <value>13.4</value>
            </setting>
            <setting name="AreaFontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="OnlineTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IPGWBF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainPageMoreInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPGWA" serializeAs="String">
                <value />
            </setting>
            <setting name="IPGWP" serializeAs="String">
                <value />
            </setting>
            <setting name="IPGWS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelfRunning" serializeAs="String">
                <value>False</value>
            </setting>
        </IpgwCore.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <IpgwCore.Properties.Settings>
            <setting name="C1P" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="C1F" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="C2P" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="C2F" serializeAs="String">
                <value>60</value>
            </setting>
        </IpgwCore.Properties.Settings>
    </applicationSettings>
</configuration>
